.background-icon,
.scroll-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2331.8px;
  height: 2107.7px;
}
.scroll-icon {
  top: 785px;
  left: 700.6px;
  width: 36.7px;
  height: 55px;
}
.overview {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 143.7%;
}
.menu {
  position: absolute;
  top: 31px;
  left: 185px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  gap: 50px;
  font-family: var(--font-poppins);
}
.discipline-will {
  margin: 0;
}
.design-smarter-not,
.discipline-will-take-container {
  position: absolute;
  letter-spacing: -0.03em;
  line-height: 117.7%;
  font-family: var(--font-poppins);
}
.discipline-will-take-container {
  top: 37px;
  left: 0;
  font-size: 46px;
}
.design-smarter-not {
  top: 0;
  left: 3px;
  color: #edffd7;
}
.amet-minim-mollit-container {
  position: absolute;
  top: 246px;
  left: 3px;
  letter-spacing: -0.03em;
  line-height: 158.7%;
  display: inline-block;
  width: 456px;
  height: 95px;
}
.schedule-a-demo {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 158.7%;
}
.main-cta,
.secondary-button {
  position: absolute;
  top: 373px;
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-2xl);
  font-size: var(--font-size-mini);
}
.main-cta {
  left: 3px;
  background-color: var(--color-white);
  color: var(--color-black);
}
.secondary-button {
  left: 170px;
  border: 2px solid rgba(255, 255, 255, 0.13);
}
.content {
  position: absolute;
  top: 237px;
  left: 88px;
  width: 459px;
  height: 423px;
  font-size: var(--font-size-base);
}
.logo-icon {
  position: absolute;
  height: 4.88%;
  width: 3.06%;
  top: 3%;
  right: 90.69%;
  bottom: 92.12%;
  left: 6.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sign-in {
  position: absolute;
  top: 24px;
  left: 1274px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px 18px;
  text-align: right;
  color: var(--color-black);
}
.screen-icon,
.screen-icon1,
.screen-icon2 {
  position: absolute;
  top: 101.6px;
  left: 45px;
  border-radius: var(--br-5xs);
  width: 709.9px;
  height: 483.5px;
}
.screen-icon1,
.screen-icon2 {
  top: 537.1px;
  left: 17.2px;
  width: 765.5px;
  height: 27.9px;
}
.screen-icon2 {
  top: -4px;
  left: -11px;
  width: 822px;
  height: 566.8px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 225px;
  border-radius: 4px;
  background-color: var(--color-slategray);
  width: 327.6px;
  height: 15.1px;
  opacity: 0.2;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  width: 1.17%;
  top: 3px;
  right: 72.37%;
  left: 26.46%;
  max-width: 100%;
  overflow: hidden;
  height: 9.8px;
}
.vector-icon1 {
  width: 6.29%;
  top: 2.7px;
  right: 93.71%;
  left: 0;
  height: 6.8px;
}
.appyourappio {
  position: absolute;
  top: 0;
  left: 8.5px;
  line-height: 107.7%;
  font-weight: 600;
}
.vector-parent {
  position: absolute;
  width: 9.19%;
  top: 1.8px;
  right: 44.99%;
  left: 45.82%;
  height: 10px;
}
.ellipse-div,
.group-inner,
.group-item {
  position: absolute;
  top: 4.5px;
  left: 0;
  border-radius: 50%;
  background-color: #d8695b;
  width: 6.1px;
  height: 6.1px;
}
.ellipse-div,
.group-inner {
  left: 9.8px;
  background-color: #eac213;
}
.ellipse-div {
  left: 19.7px;
  background-color: #79c743;
}
.group-child1,
.group-child2,
.rectangle-div {
  position: absolute;
  top: 4.8px;
  left: 44.9px;
  width: 1.8px;
  height: 1px;
}
.group-child2,
.rectangle-div {
  top: 6.3px;
}
.rectangle-div {
  top: 2.8px;
  left: 42.9px;
  border-radius: 1px;
  border: 1px solid var(--color-slategray);
  box-sizing: border-box;
  width: 12.6px;
  height: 10.3px;
}
.group-child3 {
  position: absolute;
  top: 2.9px;
  left: 47.2px;
  width: 1px;
  height: 10.1px;
}
.vector-icon2,
.vector-icon3,
.vector-icon4,
.vector-icon5 {
  position: absolute;
  width: 0.85%;
  top: 3.7px;
  right: 29.41%;
  left: 69.74%;
  max-width: 100%;
  overflow: hidden;
  height: 7.4px;
}
.vector-icon3,
.vector-icon4,
.vector-icon5 {
  width: 1.35%;
  top: 1.5px;
  right: 0.01%;
  left: 98.64%;
  height: 10.6px;
}
.vector-icon4,
.vector-icon5 {
  width: 1.17%;
  top: 2.3px;
  right: 3.11%;
  left: 95.72%;
  height: 9.1px;
}
.vector-icon5 {
  width: 1.04%;
  top: 1.5px;
  right: 6.09%;
  left: 92.87%;
  height: 11.1px;
}
.rectangle-parent {
  position: absolute;
  top: 7.6px;
  left: 9.1px;
  width: 777.9px;
  height: 15.1px;
}
.group-child4,
.group-child5 {
  position: absolute;
  top: 10.5px;
  left: 75.9px;
  width: 5.3px;
  height: 8.7px;
}
.group-child5 {
  left: 93.7px;
  opacity: 0.5;
}
.group-child6 {
  position: absolute;
  top: 28.8px;
  left: 0;
  border-radius: var(--br-5xs);
  width: 800px;
  height: 1px;
}
.artwork-icon,
.group-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 584.2px;
}
.artwork-icon {
  top: 30.3px;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  width: 799.8px;
  height: 514.5px;
  object-fit: cover;
}
.browser {
  position: absolute;
  top: 155px;
  left: 550px;
  width: 800px;
  height: 584.2px;
  text-align: center;
  font-size: 9px;
  color: var(--color-slategray);
  font-family: var(--font-mulish);
}
.div {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-source-sans-pro);
}
