@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-mulish: Mulish;
  --font-source-sans-pro: "Source Sans Pro";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-mini: 15px;
  --font-size-base: 16px;

  /* Colors */
  --color-black: #000;
  --color-slategray: #717a84;
  --color-white: #fff;

  /* Paddings */
  --padding-smi: 13px;
  --padding-2xl: 21px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-21xl: 40px;
}
